  
  

  <div class="container-fluid" style="background-color: yellow;">

    <div class="row">


      <div class="col-md-6">

      	<form action="" method="" >
                	From <input type="date" name="From">

   
             <hr style="width:173px; margin-left: 0px; margin-top: -11px; border-color:#272a67; ">
                </form>




      </div>

         <div class="col-md-6">

      	<form action="" method="" >
                	 Select a time: <input type="time" name="usr_time">

                	
   
                 
                </form>




      </div>
      
      

    </div>
    
  </div>

  <style type="text/css">
    input[type=date]  {

   width: 281px;
   padding: 0px 86px;
   margin: 8px 0;
   margin-left: -55px;
   background: none;
   border-left-width: 0px;
   border-right-width: 0px;
   border-top-width: 0px;
   display: inline-block;
   border-bottom: 0px solid #7c878e;
   color: ;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
   text-shadow: #7c878e;
}

input[type=date]:focus {

   border: 0px solid #eff4fb;
   border-bottom: 0px solid #eff4fb;
}




input[type="date"]::-webkit-calendar-picker-indicator {
   color: #272a67;
   opacity: 1;
   display: block;
   background: url(template/images/time.png )no-repeat;

   width: 10px;
   height: 10px;
   border-width: thin;
}

input[type=date]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   display: none;
}

input[type=date]::-webkit-clear-button
{
   display: none; /* Hide the button */
   -webkit-appearance: none; /* turn off default browser styling */
}
  </style>