

.h7{
    border-color: white;
    width: 662px;
    margin-left: 13px;
    margin-top: 7px;
}





.tab1 {
    padding-top: 23px;
    padding-left: 38px;
    padding-right: 46px;
     float: left;
     left: 50px;
     background-color: #a7bcd6;
     width: 320px;
     height: 100%;
     position:fixed;
   }

   .tab5{
   float: left;
    left: 370px;
    color: white;
    /* border-right: 2px solid #f7de02; */
    padding-left: 30px;
    padding-top: 30px;
    background-color: #272a67;
    width: 777px;
    height: 100%;
    position: fixed;
}
.tab6 {
    float: left;
    left: 493px;
    margin-top: 290px;
    width: 80%;
    height: -webkit-fill-available;
    padding-left: 29px;
    position: fixed;
     
 }

.tab11{
    float: left;
    padding-right: 17px;
    left: 65px;
    color: white;
     border-right: 2px solid #f7de02;
    padding-left: 30px;
    padding-top: 30px;
    background-color: #272a67;
    width: 300px;
    height: 100%;
    position: fixed; 
}


.tab12{
    width: 100%;
   float: left;
    margin-top: 0px;
    padding-right: 17px;
    left: 365px;
    color: #272a67;
    padding-left: 64px;
    padding-top: 28px;
    height: 366px;
    position: fixed;
}


.tab9 {
       margin-top: 413px;
    padding-top: 23px;
    padding-left: 0px;
    padding-right: 46px;
    float: left;
    left: 365px;
    background-color: #a7bcd6;
    width: 100%;
    height: 250px;
    position: fixed;
   }
.tab10 {
    margin-top: 110px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    border: 2px solid #a7bcd6;
    left: 442px;
    background-color: white;
    width: 57%;
    height: 460px;
    position: fixed;
   }

.button {
   
background-color: #f7de02;
    border: none;
    color: #272a67;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin-left: 690px;
    font-weight: 900;
    margin-top: 26px;
    /* margin: 8px 327px; */
    cursor: pointer;
   }
.h8{
    border-color: white;
    width:662px;
    margin-left: 13px;
}



.h9{
    border-color: white;
    width:662px;
    margin-left:0px;
    margin-top: -6px;
}





@media screen and (max-width: 1024px){

.tab11 {
  
    padding-right: 17px;
    left: 65px;
    color: white; 
    padding-left: 5px;
    width: 247px;  
}



.tab9 {
       margin-top: 1094px;
    float: left;
    left: 314px;
    height: 278px;
   
}
.tab12 {
       float: left;
    margin-top: 0px;
    padding-right: 17px;
    left: 272px;
    padding-left: 47px;
    padding-top: 28px;
   
}

.tab10 {
      margin-top: 159px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    border: 4px solid #a7bcd6;
    left: 323px;
    background-color: white;
    width: 67%;
    height: 876px;
    position: fixed;
}


.tab5{
    width: 650px;
}

.h8{
   
    width:558px;
   
}
.h9{
   
    width:558px;
   
}
.h7{
   
    width:558px;
   
}

}



@media screen and (max-width: 768px){

.tab11 {
    padding-right: 17px;
    left: 65px;
    color: white;
    padding-left: 5px;
    width: 237px;
}
.tab12 {
    float: left;
    margin-top: 0px;
    padding-right: 17px;
    left: 264px;
    padding-left: 47px;
    padding-top: 28px;
}

.tab9 {
    margin-top: 829px;
    float: left;
    left: 303px;
    height: 278px;
}
.tab10 {
    margin-top: 159px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    border: 4px solid #a7bcd6;
    left: 307px;
    background-color: white;
    width: 59%;
    height: 649px;
    position: fixed;
}








.tab1{

    padding-left: 17px;
    padding-right: 0px;   
    width: 273px;
    
}

.tab5{
        left: 323px;
    padding-left: 11px;
}

.h8{
   
    width:361px;
   
}
.h9{
   
    width:361px;
   
}
.h7{
   
    width:361px;
   
}

}

@media screen and (max-width: 686px) {
    .tab12{
        display: none;
    }
    .tab9{
        display: none;
    }
.tab11 {
  
    left: 1px;
    margin-top: 73px;
  
    padding-top: 30px;
   
    width: 100%;
    height: fit-content;
    
}

.tab10 {
    margin-top: 372px;
  
    float: left;
   border: 2px solid #a7bcd6;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 460px;
   
}
.tab1 {
    padding-top: 100px;
    padding-left: 38px;
    padding-right: 46px;
    float: left;
    left: 0px;
    background-color: #a7bcd6;
    width: 100%;
    height: auto;
    position: absolute;
}

.tab5 {
    margin-top: 177%;
    float: left;
    left: 0px;
    color: white;
    /* border-right: 2px solid #f7de02; */
    padding-left: 30px;
    padding-top: 30px;
    background-color: #272a67;
    width: 100%;
    height: auto;
    position: absolute;
}
.h8{
   
    width:316px;
   
}
.h9{
   
    width:316px;
   
}
.h7{
   
    width:316px;
   
}

.tab6{
  margin-top: 1312px;
    width: 3%;
    margin-left: -466px;
    position: absolute;
    float: left;
    left: 0px;
  margin-bottom: 10px;
    
    height: auto;
    padding-left: 3px;
  
}

}




@media screen and (max-width: 375px) {
    .tab5{
     padding-right: 0px;
     margin-top: 194%;
     padding-left: 7px;
    }

.h8{
   
    width:315px;
   
}
.h9{
   
    width:315px;
   
}

.h7{
   
    width:315px;
   
}

 .tab1{
        padding-right: 0px;
    padding-left:  15px;
    }
}



@media screen and (max-width: 360px){
.tab5 {
    padding-right: 0px;
    margin-top: 202%;
    padding-left: 7px;
} 

.h8{
   
    width:305px;
   
}
.h9{
   
    width:305px;
   
}
.h7{
   
    width:290px;
   
}
}



@media screen and (max-width: 320px){

.tab10 {
    margin-top: 372px;
    float: left;
    border: 2px solid #a7bcd6;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 300px;
}


.tab5 {
    padding-right: 0px;
    margin-top: 227%;
    padding-left: 7px;
} 

.h8{
   
    width:274px;
   
}
.h9{
   
    width:274px;
   
}
.h9{
   
    width:274px;
   
}
}
