

  body{
  	color: #eff4fb;
    position: relative;
  }


  h2{
  	margin-top: 37px;
    margin-bottom: -9px;
  }


   .container-fluid {
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;

}

  .tab {
     float: left;
     border: 0px solid #ccc;
     background-color:#f7de02;
     width: 50px;
     height: -webkit-fill-available;
     position:fixed;
   }
   .tab2 {
    padding-top: 23px;
    padding-left: 38px;
    padding-right: 46px;
     float: left;
     left: 50px;
     border-right: 2px solid #f7de02;
     background-color: #a7bcd6;
     width: 1080px;
     height: 100%;
     position:fixed;
   }

     .tab3 {
     float: left;
     left: 1130px;
     width: 80%;
     height: -webkit-fill-available;
     padding-left: 10px;
     position: fixed;
     
     }

       .tab4 {
        float: left;
    left: 493px;
    margin-top: 290px;
    width: 80%;
    height: -webkit-fill-available;
    padding-left: 10px;
    position: fixed;
     
     }


   .w{
   	transform: rotate(270deg);
    width: 262px;
    height: 84px;
    margin-left: -78px;
    padding-top: 2px;
    margin-top: 427px;
    color: #272a67;
   }


 .left {
       float: left;
    padding-top: 45px;
    padding-left: 60px;
  
  }


  .im{
  	 width:67px; 
   height:auto;
  }

  .l {
       float: left;
    padding-top: 65px;
    padding-left: 3px;
   
  }


 .right {
  float: right;
    padding-left: 56px;
    margin-right: 840px;
    padding-right: 71px;
    padding-top: 6px;

 }

   .b9{
    border-bottom: 2px solid #f4e00d;
    width: 12px;
    color: #eff4fb;
    height: 70px;
    /* padding-bottom: 57px; */
    padding-top: 0px;
    margin-top: -54px;
    margin-left: 2px;
    } 


  .b{
        border-bottom: 1px solid #eff4fb;
    width: 966px;
    color: #eff4fb;
    height: 70px;
    padding-bottom: 57px;
    padding-top: 27px;
    margin-top: -73px;
    margin-left: 0px;
    }

    .b7{
     border-bottom: 1px solid #7c878e;
     width: 480px;
     color: #eff4fb;
     height: 70px;
     font-size: 16px;
     padding-bottom: 20px;
     padding-top: 46px;
     margin-top: -31px;
     margin-left: 114px;
    }

    .margin{
      font-size: 11px;
      padding-right: 608px;
      margin-top: 192px;
      margin-left: 134px;
    }

   

    input[type=text]  {
         width: 480px;
    /* padding: 0px 0px; */
    margin: 8px 0;
    margin-left: 133px;
    background: none;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    display: inline-block;
    border-bottom: 1px solid #7c878e;
    color: #eff4fb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-shadow: #7c878e;
}

 input[type=text]:focus {

    border: 0px solid #eff4fb;
    border-bottom: 1px solid #eff4fb;
}

::placeholder {
    color: #eff4fb;
    opacity: 1; /* Firefox */
}



.button {
   
    background-color: #f7de02;
    border: none;
    color: #272a67;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 690px;
    margin-top: 26px;
    /* margin: 8px 327px; */
    cursor: pointer;
   }

.r{
      margin-top: 8px;
}

.rr{
      padding-top: 96px;
}


.rrr{
    padding-top: 90px;
    margin-left: 50px;
}

 @media screen and (min-width: 769px) {
  .w{
	margin-top: 418px;
    
   }
 }
 @media screen and (max-width: 768px) {
 .w{
    margin-top: 218px;
   }
 }
 


   @media screen and (min-width: 769px) {
.tab{
	width:  50px;
   
    
  }
}

@media screen and (max-width: 768px) {
 .tab{
    width:  46px;
   
  }
}

    @media screen and (min-width: 769px) {
.tab2{
	width: 1080px;
     
   left: 50px;
    
  }
}

@media screen and (max-width: 768px) {
 .tab2{
   margin-top: 76px;
   height: 100%;
    width: 100%;
    left: 0px;
    position: relative;
  }
}



 @media screen and (min-width: 769px) {
.tab3{
	width: 80%;
     padding-left: 65px;
   left: 1130px;
    
  }
}

@media screen and (max-width: 768px) {
 .tab3{
    width:  60%;
   left: 546px;
       margin-left: -77px;
  }
}



@media screen and (max-width: 414px) {
 .tab3{
    width:  60%;
   left: 546px;
       margin-left: -333px;
  }
}
    

@media screen and (max-width: 320px) {
 .tab3{
    width:  60%;
   left: 546px;
       margin-left: -359px;
  }
}


@media screen and (max-width: 768px) {
 .tab4{
      
    left: 437px;
    margin-top: 1275px;
  }
}


        @media screen and (min-width: 769px) {
.margin {
	padding-right: 487px;
    
  }
}

@media screen and (max-width: 768px) {
 .margin{
     padding-right: 158px;
    margin-top: 142px;
    margin-left: 61px
  }
}


@media screen and (max-width: 360px) {
 .margin{
     padding-right: 68px;
    margin-top: 142px;
    margin-left: 61px
  }
}



        @media screen and (min-width: 769px) {
input[type=text]{
	 width: 674px;
    
  }
}

@media screen and (max-width: 768px) {
 input[type=text]{
    width: 290px;
    margin-left: 62px;
  }
}
 

        @media screen and (min-width: 769px) {
.f {
	font-size: 24px;
    
  }
}

@media screen and (max-width: 768px) {
 .f{
   font-size: 15px;
  }
}


        @media screen and (min-width: 769px) {
.left{
    padding-top: 45px;
    padding-left: 60px;
    
  }
}

@media screen and (max-width: 768px) {
 .left{
 	padding-top: 20px;
    padding-left: 12px;
  }
}





        @media screen and (min-width: 769px) {
.l{
       padding-top: 106px;
    padding-left: 3px;
  }
}

@media screen and (max-width: 768px) {
 .l{
 	padding-top: 42px;
    padding-left: 0px;
  }
}



       @media screen and (min-width: 769px) {
.b6{
     padding-bottom: 57px;
     padding-top: 27px;

  }
}

@media screen and (max-width: 768px) {
 .b6{
     padding-bottom: 40px;
     padding-top: 24px;
     width: 290px;
  }
}

@media screen and (max-width: 768px) {
 .button{
         padding: 3px 20px;
         margin-left: 299px;
  }
}



@media screen and (max-width: 375px) {
 .button{
         padding: 3px 20px;
         margin-left: 255px;
  }
}



@media screen and (max-width: 768px) {
 .im{
          width:50px;   }
}


@media screen and (max-width: 768px) {
.rr{
      padding-top: 20px;
}
}



@media screen and (max-width: 768px) {
.rrr{
      padding-top: 50px;
    margin-left: 0px;
}
}

@media screen and (max-width: 768px) {
.b{
    width: 100%;
}
}

@media screen and (min-width: 769px) {
 div  h2{
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
 div   h2{
    font-size: 24px;
  }
}


@media screen and (min-width: 769px) {
 div  p{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
 div   p{
    font-size: 12px;
  }
}



@media (max-width: 375px){
body {
   overflow-x: hidden;
   min-width: 320px;
   padding-bottom: 20px;
}}
  	
  .tab7 {
     float: left;
     left: 50px;
     padding-left: 47px;
     padding-top: 63px;
     background-color: #272a67;
     width: 791px;
     height: 100%;
     position:fixed;
   }

   .c{
    color: #f7de02;
   }
.tab8 {
    float: left;
    left: 749px;
    margin-top: 115px;
    width: 80%;
    height: -webkit-fill-available;
    padding-left: 10px;
    position: fixed;
}


@media screen and (max-width: 686px) {
 .tab7{
  left: 0px;
  padding-left: 40px;
  padding-top: 100px;
  position: relative;
  width: 100%;
  height: fit-content;
  }
  .tab8{
    display: none;
  }
}




    input[type=date]  {
  
    width: 281px;
    padding: 0px 86px;
    margin: 8px 0;
    margin-left: -55px;
    background: none;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    display: inline-block;
    border-bottom: 0px solid #7c878e;
    color: ;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-shadow: #7c878e;
}

 input[type=date]:focus {

    border: 0px solid #eff4fb;
    border-bottom: 0px solid #eff4fb;
}

 


input[type="date"]::-webkit-calendar-picker-indicator {
    color: #272a67;
    opacity: 1;
    display: block;
    background: url(template/images/time.png )no-repeat;

    width: 10px;
    height: 10px;
    border-width: thin;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-clear-button
{
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}