/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset-Code --*/

body { 
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: "Maven Pro";
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	    margin: 0;
    padding: 0;
    font-family: "Maven Pro";
    font-size: 5em;
    color: #272a67;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
/*-- //Reset-Code --*/

/*-- banner --*/
.banner{
    background: url(../images/ban3.jpg) no-repeat 0px 0px;
    
    background-size: cover;
    padding: 0em 0 0em;
    background-size: cover;
    position: absolute;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50% 0px;
        left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.banner-dott {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
	padding:0em 0;
   
}
.header-top {
	outline:none;
}
.agile-logo {
    float: left;
    margin-left: 33em;
}
ul.social {
    float: right;
}
.header {
    margin-top: 3em;
    text-align: center;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;
    letter-spacing: 4px;
}
.agile-logo h1 span{
    display: block;
    font-size: .4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 12px;
    margin: 1em 0 0 .3em;
	color:#fff;
}
.w3l-banner-grids {
	padding: 15em 0 20em 0;
}

/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: -50%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent url("../images/icons.png") no-repeat left top;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 91%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
   top: 131px;
    left: 38em;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: "Maven Pro";
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #c3c3c3;
   
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after {
    background: transparent;
    border: 3px solid #56a0d3;
    height: 15px;
    width: 15px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.w3ls-text {
	width: 86%;
    margin: 0 auto;
}
.w3ls-text h3,.w3ls-text h2 {
    font-size: 3em;
	text-transform: uppercase;
	 color:#ffffff;
	 font-weight:600;
	 letter-spacing:4px;
	 margin-bottom:.2em;
	 text-align: center;
	font-family: "Maven Pro";
}
.w3ls-text p {
    font-family: "Maven Pro";
    font-size:1em;
    line-height: 1.5em;
    margin: 2em 0 2em 0;
    color: #ececec;
    font-weight: 500;
    letter-spacing: 2px;
	text-align: center;
}
.w3ls-text p i {
    font-size: 1.5em;
    color:#dea703;
}
.w3ls-text a{
    color: #FFFFFF;
    font-size: 1em;
    padding: .4em .5em;
    display: block;
    border: solid 2px #f35041;
    width: 11%;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}
.w3ls-text a:hover {
    background: #f35041;
}
.social-grids{
	background: rgba(0, 0, 0, 0.7);
    padding: 3em 0 2em 0;
    text-align: center;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #333;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk{
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-social-grids ul li:nth-child(2){
	margin:.5em 0;
}
.agileinfo-social-grids ul li:nth-child(3){
	margin:0 0 .5em 0;
}
#m_nav_container {
    z-index: 9990 !important;
}
#m_nav_menu {
    z-index: 9999 !important;
}
.w3ls-slider {
    position: relative;
}
/*-- //slider--*/

/*-- banner bottom grids --*/
.banner-bottom-grids{
	position: absolute;
	top:93%;
	left:12%;
	z-index: 0;
    width: 80%;
}
.banner-bottom-grd{
	padding:2em;
	background:#fff;
}
.banner-bottom-grd i {
	float: left;
	font-size: 2.5em;
	margin: 0 0 1em;
	color: #fff;	
}
.banner-bottom-grid h3 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
   font-size: 1.8em;
}
.banner-bottom-grd p {
    float: left;
    font-size: 15px;
    line-height: 1.6em;
    margin: 0;
    color: #fff;
	text-align: center;
}
p.w3ltext{
	color:#999;
	font-size:14px;
	margin:1em 0 3em;
	line-height: 1.8em;
}
.more a{
	font-size: 13px;
	padding: 10px 92px;
	background: #ffc400;
	text-decoration: none;
	color: #fff;
}
.more a:hover{
	background: #ef2e46;
}
.w3-agile-back,.more4 a{
	background:#000000;
} 
.w3-agile-back1,.more1 a{
	background:rgb(244, 173, 33);
}
.w3-agile-back2,.more2 a{
	background:#20a7bd;
}
.w3-agile-back3,.more3 a{
	background:rgba(10, 0, 0, 0.8);
}
.w3l_header_contact_details_agile {
    float: right;
}
.w3l_header_contact_details_agile p {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
a.w3l_header_contact_details_agile-info_inner {
    color: #fff;
}
a.w3l_header_contact_details_agile-info_inner span i {
    margin-right: 0.5em;
    color: rgb(244, 173, 33);
}
/*-- banner bottom grids --*/

/*-- menu --*/
.mobile-nav-button {
    background-image: url(../images/sidemenu.png);
    float: left;
    width: 4%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	position: fixed;
    margin: 3em 0em 0;
    left: 0%;
    top: -42px; 
    z-index: 9999;
    cursor: pointer;
    width: 65px;
    height: 100%;
     
    -webkit-box-shadow: inset -1px 0px 10px #000000a6;
}

.mobile-nav-button .mobile-nav-button__line {
	 
    width: 24px;
    height: 2px;
    background: #131f6b;
    position: relative;
    transition: 1s ease;
    margin:   .4em auto;

}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.7em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { 
	display: none;	
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
	left:20%;
}

.mobile-menu {
	display: block;
    width: 25.7%;
    left:-20%;
    height: 100%;
    background: rgba(244, 67, 54, 0.63);
    background: white;
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
    z-index: 9;
}



.mobile-menu ul {
	position: relative;
    top: 20%;
    padding: 0;
}

.mobile-menu ul li { 
	list-style: none;
    margin-bottom: 0px;
	display: block;
}
.mobile-menu ul li a {
	width: 100%;
    height: 60px;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1b216d;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
}
.open > ul.dropdown-menu.agile_short_dropdown{
    display: block;
    transform: none !important;
    min-width: 65%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 18%;
}
.open > ul.dropdown-menu.agile_short_dropdown li{
	margin:0 !important;
}
ul.dropdown-menu.agile_short_dropdown > li > a:hover{
    background: none;
}
.mobile-menu ul li a:after {
	content: '';
	background: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	z-index: -1;
	transition: 0.4s ease;
}

.mobile-menu ul li a:hover,.mobile-menu ul li.active a { 
	color: #fff;
    background-color: #b4bfd0; 
}

.mobile-menu ul li a:hover:after,.mobile-menu ul li.active a:after { 
	right: 0; 
}
li.dropdown.act a.w3_icons_act {
    background: #0e0e0e;
	color: #fff;
}
.mobile-menu img {
	position: absolute;
	width: 150px;
	display: block;
	left: 50%;
	top: 3rem;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-o-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	padding: 0;
	text-align: center;
}

.mobile-menu--open {
	opacity: 1;
	left:0%;
}
.dropdown.active.open a  ul.dropdown-menu.agile_short_dropdown li a.w3_icon_1:after{
	background:none !important;
}

.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a{
	font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.w3_agile_logo h1 a span{
	display: block;
    font-size: .3em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 50%;
    color: #95f347;
}
.agile_banner_info{
	width:70%;
	margin:15em 0 4em;
}
.agile_banner_info h3{
	font-size: 3em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 5px;
}
.agile_banner_info h3 span{
	padding: .3em;
    display: block;
    font-size: .3em;
    background: #fff;
    color: #212121;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	font-size: 14px;
    color: #95f347;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#fff;
}
.agileits_w3layouts_more a:before,.agileits_w3layouts_more a:after{
	content: '';
    background: #fff;
    width: 85%;
    height: 2px;
    position: absolute;
    left: 105%;
    top: 46%;
}
.agileits_w3layouts_more a:after{
	-webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
	    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.agileits_w3layouts_more a:hover::before, .agileits_w3layouts_more a:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.agileits_w3layouts_more a::after {
    background: #95f347;
}
.w3_agileits_social_media{
	float:right;
	margin: 5em 0 0;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
	position: relative;
    margin-right: 5em !important;
	color:#95f347;
}
.agileinfo_share:after{
	content: '';
    background:#95f347;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 45%;
    right: -105%;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}

/* menu */

/*-- about --*/
.gallery-top,.about,.testimonials,.w3-services,.gallery ,.contact{
    padding: 4em 0;
}
.w3-about-agile {
    margin: 10em 0 0 0;
}
h3.title-w3-agile,.w3l_heading h2,h3.agileits-title,h3.heading,h3.w3l_header.w3_agileits_header,h3.w3l-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2em;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
	position:relative;
}
/*-- banner_info --*/
.wthree_banner_info_left_grid1{
	width: 48px;
    height: 48px;
    background: #f99104;
    text-align: center;
    margin: 0 auto;
	overflow:hidden;
	display:inline-block;
}
.wthree_banner_info_left_grid1 span {
    font-size: 1.2em;
    color: #ffffff;
    top: 15PX;
}
.wthree_banner_info_left:hover .wthree_banner_info_left_grid1{
    -webkit-transform: scale(1.25) translateZ(0px);
    transform: scale(1.25) translateZ(0px);
	-moz-transform: scale(1.25) translateZ(0px);
	-o-transform: scale(1.25) translateZ(0px);
	-ms-transform: scale(1.25) translateZ(0px);
	background: #f4ad21;
}
.wthree_banner_info_left_grid_left h3 a {
    font-size: 23px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}
.wthree_banner_info_left:hover .wthree_banner_info_left_grid_left h3 a,.wthree_banner_info_left_grid_left h3 a:hover{
	color:#f99104;
}
.wthree_banner_info_left_grid_left p{
	font-size: 15px;
    color: #777;
    line-height: 26px;
    font-weight: 400;
	margin-top: 10px;
}
.wthree_banner_info_left_grid_left h3 a,.wthree_banner_info_left_grid1{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.w3l-top h4 {
    font-size: 35px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 600;
}
.w3l-top p {
    font-size: 17px;
    color: #777;
    line-height: 28px;
    text-align: center;
    width: 72%;
    margin: 0 auto;
}
.w3ls-mid {
    margin: 4em 0;
}
.wthree_banner_info {
    padding: 5em 0;
}
.w3ls-mid-1{
	background:url(../images/ab1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.w3ls-mid-2{
	background:url(../images/ab21.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.w3ls-mid-3{
	background:url(../images/ab31.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
/*-- //banner_info --*/
/*-- /services --*/
.w3-services{
    background: url(../images/s11.jpg) no-repeat 0px 0px;
	min-height:600px;
	}
   .w3-ser-txt-left h3, .w3-ser-txt-right h3 {
        color: #f4e00d;
    font-size: 3.8em;
    margin: 0.2em 0;
    font-weight: bold;
    }
	.w3-ser-txt-left i,.w3-ser-txt-right i {
    font-size: 2em;
    color: #fff;
	 margin: 0.2em 0;
    }
	.w3-ser-txt-left p,.w3-ser-txt-right p {
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 0.2px;
    line-height: 1.5em;
    }
	.w3-ser-txt-left {
    width: 38%;
    }
	.w3-ser-txt-right{
	 width: 38%;
	}
	.w3-services-grid1 {
    margin: 0 0 2em 0;
    }
	.w3-services-grid {
    position: absolute;
	left: 43%;
    top: 14em;
   }
   .w3-services{
   position: relative;
   }
   h3.w3-services-head {
    font-size: 3em;
    color: #fff;
    margin-bottom: 0.5em;
}
	/*-- //services --*/
	/*-- stats --*/  
.stats {
    background-color: rgb(244, 173, 33);
    background-size: cover;
    position: relative;
    z-index: 1;
	padding:6em 0;
}
.stats-grid {
    text-align: center;
}
.stats-img i.fa {
    font-size: 2.5em;
    color: #fff;
} 
.stats-agileinfo h6 {
    font-weight: 900;
    letter-spacing: 3px;
    margin: 1.5em 0 .5em;
    font-size: 1.8em;
    color: #141c27;
}
.numscroller {
    font-size: 3em;
    font-weight: 700;
    color: #333;
}
/*-- //stats --*/ 
/*-- gallery --*/

.w3gallery-grids {
    padding: 1em;
}  
/*-- imghvr-hinge --*/
[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color:#141c27;
	color:#212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color:#d7920b;
	padding:5.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:#212121;
	text-align: center;
} 
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 2em;
    margin-bottom: .5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
[class^='imghvr-'] .agile-figcaption p{
	line-height:2em;
	color:#ebe8e8;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}
 
/*-- imghvr-hinge-right -- */
.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.imghvr-hinge-right:hover > img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
} 
/*-- //imghvr-hinge --*/ 
/*-- //gallery --*/ 
/*-- testimonials --*/
.testimonials{
background:rgba(255, 255, 255, .15);
}
.w3ls_testimonials_grids{
	width:80%;
	margin:3em auto 0;
}
.w3l_testimonial_grid{
	padding: 4em 2em 2em;
    background: #f5f5f5;
    text-align: center;
    position: relative;
    margin: 5em 1.2em 0;
}
.w3l_testimonial_grid:focus,.agileits_testimonial_grid:focus{
	outline:none;
}
.w3l_testimonial_grid_pos{
	position:absolute;
	width:100%;
	text-align:center;
	top:-25%;
	left:0%;
}
.w3l_testimonial_grid_pos img{
	margin:0 auto;
}
.w3l_testimonial_grid p{
	color:#999;
	line-height:2em;
	position:relative;
	padding-left:2em;
}
.w3l_testimonial_grid p:before{
	content:"\f10d";
	font-size:2em;
	color:#f4ad21;
	font-family:FontAwesome;
	position:absolute;
	top:0%;
	left:0%;
}
.agileits_testimonial_grid h4{
	font-size:1.1em;
	color:#212121;
	margin:1em 0 0.5em;
}
.agileits_testimonial_grid h5{
	font-size:.8em;
	color:#f4ad21;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    line-height: 0;
    position: absolute;
    top: 60%;
    display: block;
    width: 50px;
    height: 40px;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1em;
    outline: none;
     background: #0c0c0c;
    z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: "Maven Pro";
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
    content:"\f177";
}
[dir='rtl'] .slick-prev:before
{
    content: "\f177";
}

.slick-next,[dir='rtl'] .slick-prev
{
    right:-6.5%;
}
[dir='rtl'] .slick-next,.slick-prev
{
    right: auto;
    left:-6.5%;
}
.slick-next:before
{
    content: "\f178";
}
[dir='rtl'] .slick-next:before
{
    content: "\f178";
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: #212121;
    border: 0;
    outline: none;
    background:transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: "Maven Pro";
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f111";
    text-align: center;
    opacity: .25;
    color: #808080;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*-- //testimonials --*/
/*-- contact--*/
#contact h3.h3-w3l{
	color:#fff
}
.map{
    padding: 0;
}
.map iframe {
    width: 100%;
    min-height: 490px;
    display: block;
}
h3.title-contact {
    font-size: 39px;
    text-transform: capitalize;
    color:#f4ad21;
    margin-bottom: 20px;
}
.contact-right input[type="text"], .contact-right input[type="email"] {
    font-size: 1em;
    border: 1px solid #fff;
    background: #333;
    outline: none;
    padding:15px;
    width: 48%;
    margin: 1%;
    margin-bottom: 1em;
    color: #fff;
    
    float: left;
}
.contact-right input[type="text"]:nth-child(1), .contact-right input[type="email"] {
    margin: 1%;
}
.contact-right textarea{
	width:98%;
	padding:10px 15px;
	outline:none;
	resize:none;
    height:100px;
    margin:1%;
	border:1px solid #fff;
	font-size:1em;
	background: #333;
    color:#fff;
    
}

.contact-right input[type="submit"] {
    background: #f4ad21;
    color: #FFF;
    padding: .9em 1.8em;
    margin-top: 1.3em;
    border: 1px solid #f4ad21;
    outline: none;
    font-size: 0.9em;
}
.contact-right input[type="submit"]:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.contact-right {
    padding: 4em 5em 4.8em;
    background: #fff;
   -webkit-box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.52);
}

/*-- //contact --*/
/*-- footer --*/
.w3-agile-footer {
    background: #141c27;
    padding: 5em 0;
}
.footer-grid-heading h4{
    color: #ffffff;
    font-size: 2em;
    margin: 0;
}
.footer-grid-info,.w3agile_footer_grid_list {
    margin: 1em 0 0 0;
}
.footer-grid-info  p{
    margin: 0;
    font-size: 1.2em;
    color: #999999;
    line-height: 1.8em;
}
.footer-grid-info p span{
	display:block;
}
.footer-grid-info p span a{
    color: #f79820;
    text-decoration: none;
}
.footer-grid-info p span a:hover{
    color: #ffffff;
}
.footer-grid-info ul{
	padding:0;
	margin:0;
}
.footer-grid-info ul li{
	display:block;
}
.footer-grid-info ul li a{
	font-size: 1.2em;
    color: #999999;
    line-height: 1.8em;
    text-decoration: none;
}
.footer-grid-info ul li a:hover{
	color: #ffffff;
}
.w3agile_footer_grid_list ul{
	margin:0;
	padding:0;
}
.w3agile_footer_grid_list ul li{
    display: inline-block;
    color: #999999;
    font-size: 1.2em;
    margin: .5em 0 0 0;
}
.w3agile_footer_grid_list ul li:nth-child(1){
	margin:0;
}
.w3agile_footer_grid_list ul li a{
	color: #f79820;
    text-decoration: none;
}
.w3agile_footer_grid_list ul li a:hover{
	color:#FFFFFF;
}
.w3agile_footer_grid_list ul li span {
    display: block;
    margin: 1em 0 0;
}
.w3agile-post ul li{
	margin-bottom: 1em;
}
.agileits-w3layouts-copyright {
    text-align: center;
    margin: 2em 0 0 0;
}
.agileits-w3layouts-copyright p {
    margin: 0;
    font-size: 1.2em;
    color: #999999;
}
.agileits-w3layouts-copyright p a {
    color: #f79820;
    text-decoration: none;
}
.agileits-w3layouts-copyright p a:hover {
    color: #FFFFFF;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-top.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*-- /responsive design --*/
@media(max-width:1440px){
.banner-bottom-grids {
    left: 7%;
    width: 85%;
}
.w3-ser-txt-left {
    width: 43%;
}
.w3-ser-txt-right {
    width:43%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4.5em;
}
}
@media(max-width:1366px){
.banner-bottom-grids {
    left: 4%;
    width: 91%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4em;
}
}
@media(max-width:1280px){
.banner-bottom-grids {
    left: 3%;
    width: 94%;
}
.w3-ser-txt-left {
    width: 49%;
}
.w3-ser-txt-right {
    width: 49%;
}
.w3-services-grid {
    left: 42%;
    top: 7em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3.5em;
}
.banner-bottom-grd {
    padding: 1.8em;
}
}
@media(max-width:1080px){
.banner-bottom-grid h3 {
    font-size: 1.4em;
}
.agile-logo {
    margin-left: 28em;
}
.w3ls-text {
    width: 100%;
    margin: 0 auto;
}
.w3l-banner-grids {
    padding: 7em 0 9em 0;
}
.callbacks_tabs {
    left: 33em;
}
.w3ls-text h3, .w3ls-text h2 {
    font-size: 2.8em;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 2em;
}
.contact-right {
    padding: 4em 5em 5.35em;
    }
}
@media(max-width:1024px){
.banner-bottom-grids {
    left: 0%;
    width: 100%;
}
.w3l-top h4 {
    font-size: 30px;
}
.w3-services-grid {
    left: 32%;
    top: 7em;
}
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 1.5em;
}
.banner-bottom-grid h3 {
    font-size: 1.3em;
}
}
@media(max-width:991px){
.mobile-nav-button {
    left: 4%;
}
.agile-logo {
    margin-left: 17em;
}
.w3ls-text h3, .w3ls-text h2 {
    font-size: 2.5em;
}
.callbacks_tabs {
    left: 22em;
}
.banner-bottom-grid {
    width: 50%;
    margin: 0 auto 2em;
}
.w3-about-agile {
    margin: 35em 0 0 0;
}
.w3l-top h4 {
    font-size: 26px;
}
.w3ls-mid-1,.w3ls-mid-2,.w3ls-mid-3 {
    width: 80%;
    margin: 0 auto 2em;
}
.wthree_banner_info_left {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.w3-ser-txt-right {
    width: 49%;
    float: left;
}
.w3-ser-txt-left {
    width: 49%;
    float: left;
}
.w3-services-grid {
    left: 23%;
    top: 7em;
}
.stats-agileinfo h6 {
    letter-spacing: 1px;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 1.5em;
}
.footer-grid {
    width: 50%;
    margin: 0 auto 2em;
}
.banner-bottom-grid {
    width: 42%;
}
}
@media(max-width:800px){
.w3-about-agile {
    margin: 41em 0 0 0;
}
.w3gallery-grids {
    width: 50%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 6em;
}
h3.title-w3-agile, .w3l_heading h2, h3.agileits-title, h3.heading, h3.w3l_header.w3_agileits_header, h3.w3l-title {
    margin-bottom: 1.5em;
}
.numscroller {
    font-size: 2.5em;
}
.map iframe {
    width: 100%;
    min-height: 300px;
}
}
@media(max-width:768px){
h3.title-contact {
    font-size: 34px;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 5em;
}
.banner-bottom-grid {
    width: 45%;
}
}
@media(max-width:736px){
.w3ls-text h3, .w3ls-text h2 {
    font-size: 2.3em;
}
.stats-grid {
    width: 50%;
    margin-bottom: 2em;
}
.banner-bottom-grd i {
    font-size: 2em;
}
.mobile-menu {
    display: block;
    width: 28%;
}
.banner-bottom-grid {
    width: 57%;
}
.w3-about-agile {
    margin: 36em 0 0 0;
}
.banner-bottom-grid {
    width: 59%;
}
}
@media(max-width:667px){
.agile-logo {
    margin-left: 14em;
}
.w3ls-text {
    width: 89%;
    margin: 0 auto;
}
.callbacks_tabs {
    left: 20em;
}
.w3-services-grid {
    left: 12%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4em;
}
.banner-bottom-grid {
    width: 65%;
    margin: 0 auto 2em;
}
.banner-bottom-grid {
    width: 65%;
}
}
@media(max-width:640px){
.banner-bottom-grid {
    width: 67%;
    margin: 0 auto 2em;
}
.w3-about-agile {
    margin: 35em 0 0 0;
}
.w3l-top h4 {
    margin-bottom: 19px;
}
}
@media(max-width:600px){
.w3ls-text h3, .w3ls-text h2 {
    letter-spacing: 2px;
}
.callbacks_tabs {
    left: 19em;
    top: 131px;
}
.w3-about-agile {
    margin: 40em 0 0 0;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3em;
}
.agile-logo {
    margin-left: 12em;
}
.w3l-top h4 {
    font-size: 21px;
}
.w3ls-text p {
    letter-spacing: 1px;
}
.banner-bottom-grid {
    width: 69%;
}
.w3-about-agile {
    margin: 34em 0 0 0;
}
.banner-bottom-grid {
    width: 71%;
}
}
@media(max-width:568px){
.callbacks_tabs {
    left: 17em;
    top: 136px;
}
.w3ls-text p {
    letter-spacing: 1px;
}
.w3l_testimonial_grid {
    padding: 4em 1em 2em;
}
.banner-bottom-grid {
    width: 75%;
}
}
@media(max-width:480px){
.agile-logo {
    margin-left: 7em;
}
.w3ls-text {
    width: 100%;
    margin: 0 auto;
}
.callbacks_tabs {
    left: 13em;
    top: 136px;
}
.banner-bottom-grid {
    width: 88%;
}
.w3-about-agile {
    margin: 35em 0 0 0;
}
.wthree_banner_info_left {
    width: 100%;
    float: none;
    margin-bottom: 2em;
}
.w3-services-grid {
    left: 2%;
}
.w3l-top p {
    font-size: 15px;
}
.w3gallery-grids {
    width: 100%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 7em;
}
.w3l_testimonial_grid {
    padding: 4em 0.1em 2em;
}
.w3-agile-footer {
    padding: 2em 0;
}
.gallery-top, .about, .testimonials, .w3-services, .gallery, .contact {
    padding: 2em 0;
}
.contact-right input[type="text"], .contact-right input[type="email"] {
    width: 100%;
    margin-bottom: 1em !important;
}
h3.w3-services-head {
    font-size: 2.5em;
}
h3.title-w3-agile, .w3l_heading h2, h3.agileits-title, h3.heading, h3.w3l_header.w3_agileits_header, h3.w3l-title {
    font-size: 2.5em;
}
.footer-grid-heading h4 {
    font-size: 1.5em;
}
.footer-grid-heading h4 {
    font-size: 1.5em;
}
.w3ls-text h3, .w3ls-text h2 {
    font-size: 2em;
}
.contact-right textarea {
    width: 100%;
}
.stats-img i.fa {
    font-size: 2em;
}
.mobile-menu {
    display: block;
    width: 38%;
}
}
@media(max-width:414px){
    .footerSS {
     
    margin-top: 599px;
    background-color: #f7de02;
     
    height: 33px;
    color: #000;
    text-align: center;
    padding: 4px;
     
     
 }
.w3ls-text h3, .w3ls-text h2 {
    font-size: 1.8em;
	letter-spacing: 1px;
}
.w3l-banner-grids {
    padding: 4em 0 5em 0;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 5.5em;
}
.footer-grid {
    width: 83%;
    margin: 0 auto 2em;
}
.callbacks_tabs {
    left: 11em;
}
.w3l-top p {
    width: 100%;
}
.w3-about-agile {
    margin: 39em 0 0 0;
}
.banner-bottom-grid {
    width: 100%;
}
.w3-about-agile {
    margin: 34em 0 0 0;
}
.w3ls-text p {
    font-size: 0.9em;
}
.w3ls-text p {
    letter-spacing: 0.2px;
}
.callbacks_tabs {
    top: 114px;
}
h3.title-contact {
    font-size: 26px;
}
.w3-about-agile {
    margin: 38em 0 0 0;
}
.w3-services-grid {
    top: 5em;
}
}
@media(max-width:384px){
    .footerSS {
    background-color: #f7de02;
    margin-top: 676px;
    height: 33px;
    color: #000;
    text-align: center;
    padding: 4px;
     
     
     
 }
.agile-logo {
    margin-left: 6em;
}
.agile-logo h1 {
    margin: 0;
    font-size: 25px;
}
.banner-bottom-grid {
    width: 100%;
}
.w3-ser-txt-left {
    width: 84%;
    float: none;
    margin: 0 auto;
}
.w3-ser-txt-right {
    width: 84%;
    float: none;
    margin: 0 auto;
}
.w3-services {
    min-height: 786px;
}
.callbacks_tabs {
    left: 9em;
}
.stats-grid {
    width: 100%;
    margin-bottom: 1em;
}
.w3-ser-txt-right {
    width: 84%;
    float: none;
    margin: 1em auto 0;
}
.w3ls-text h3, .w3ls-text h2 {
    font-size: 1.5em;
}
.w3ls-text p {
    font-size: 0.85em;
}
.callbacks_tabs {
    left: 10em;
}
.w3-about-agile {
    margin: 39em 0 0 0;
}
}
@media(max-width:375px){
.w3ls-text h3, .w3ls-text h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4.5em;
}
}
@media(max-width:320px){
.agile-logo {
    margin-left: 4em;
}
.w3l_header_contact_details_agile p {
    color: #fff;
    font-size: 1em;
}
.w3ls-text h3, .w3ls-text h2 {
    font-size: 1.3em;
    letter-spacing: 1px;
}
.callbacks_tabs {
    left: 7em;
}
.banner-bottom-grid h3 {
    font-size: 1.2em;
}
.w3l-top h4 {
    font-size: 18px;
}
.w3-services-grid {
    top: 2em;
}
.w3-services {
    min-height: 800px;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3em;
}
.contact-right {
    padding: 4em 2em 5.35em;
}
.stats {
    padding: 2em 0;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 4em;
}
.mobile-menu {
    width: 50%;
}
[class^='imghvr-'] .agile-figcaption, [class*=' imghvr-'] .agile-figcaption {
    padding: 3.5em;
}
}
/*-- /responsive design --*/

@font-face {
  font-family: 'fontello';
  src: url('../fontN/fontello.eot?86525132');
  src: url('../fontN/fontello.eot?86525132#iefix') format('embedded-opentype'),
       url('../fontN/fontello.woff2?86525132') format('woff2'),
       url('../fontN/fontello.woff?86525132') format('woff'),
       url('../fontN/fontello.ttf?86525132') format('truetype'),
       url('../fontN/fontello.svg?86525132#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86525132#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-login:before { content: '\e800'; } /* '' */
.icon-promotion:before { content: '\e801'; } /* '' */
.icon-register:before { content: '\e802'; } /* '' */
.icon-rent-a-car:before { content: '\e803'; } /* '' */
.icon-services:before { content: '\e804'; } /* '' */
.icon-branches:before { content: '\e805'; } /* '' */
.icon-contact-us:before { content: '\e806'; } /* '' */
.icon-fleet:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */