
.icon-login:before { content: '\e800'; } /* '' */
.icon-promotion:before { content: '\e801'; } /* '' */
.icon-register:before { content: '\e802'; } /* '' */
.icon-rent-a-car:before { content: '\e803'; } /* '' */
.icon-services:before { content: '\e804'; } /* '' */
.icon-branches:before { content: '\e805'; } /* '' */
.icon-contact-us:before { content: '\e806'; } /* '' */
.icon-fleet:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */